<html>
 <head>
 	<title>Request Form</title>
 </head>
<body style="background-color:  #fff7e6">
	<center>
	<h1 style="color:#805500; font-family: sans-serif; font-size: 50px; background-color:  #f2ffcc">Request Form</h1>
	<h2 style="color:#4d3300;font-family: courier;font-size: 30px; ">-ICT LESSON-</h2>

<form class="form" action="" method="post">
  {% csrf_token %}

  <p id="u">FULLNAME:</p>
  <input type="text" id="firstname" name="firstname" placeholder="SN/FN/MN" required>
  <p id="n">EMAIL:</p>
    <input type="text" id="Gmail" name="Gmail" placeholder="@gmail"required>
  <p id="a">DATE:</p>
  <input type = "date" id="birthday" name="birthday" required><br><br>

  <p id="pangalawa">COURSE AND SECTION:</p>
  <input type="text" id="coursesection" name="coursesection" placeholder="Ex: BSIE-ICT-3A"required><br><br>

  <div id="lesson">
  <p id="pangatlo">LESSON:</p>
   <input type ="radio" id="lec" name="lesson" value="LECTURE" required>LECTURE
   <input type ="radio" id="lab" name="lesson" value="LABARATORY" required>LABARATORY
   <input type ="radio" id="all" name="lesson" value="BOTH" required>BOTH<br><br>
  </div>

  <p id="pangapat">REASON:</p>
  <p id="panglima">Note: Provide a formal letter for requesting.</p>
  <input type="text" size ="50" id="letter" name="letter" placeholder ="Valid Reason"required><br><br>
  <input type="Submit" id=done value="Submit"> 

</form> 
</center>
</body>
</html>
