<html>
<head>
<body>
<style>
</style>
</body>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<h1><center>We Vulcanize Your Tire!</center></h1>

<div data-ng-app="" data-ng-init="quantity4=0;price=20; quantity=0">
<center>
<p><b> Services</b></p>
Interior Tire Repair: <input type="text" ng-model="quantity4" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity4 * price}} </b>&nbsp;&nbsp;&nbsp;&nbsp;
Quantity: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity">
<b>Total:{{quantity * price * quantity4}}</b><br><br>

<div data-ng-app="" data-ng-init="quantity1=0;price1=100; quantity2=0">
Radiator Overhaul: <input type="text" ng-model="quantity1" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity1 * price1}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity2">
<b>Total:{{quantity1 * price1 * quantity2}}</b><br><br>

<div data-ng-app="" data-ng-init="quantity3=0;price2=100; quantity5=0">
Welding: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity3" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity3 * price2}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity5">
<b>Total:{{quantity3 * price2 * quantity5}}</b><br><br>

<div data-ng-app="" data-ng-init="quantity6=0;price3=100; quantity7=0">
Jack Repair:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity6" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity6 * price2}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity7">
<b>Total:{{quantity6 * price3 * quantity7}}</b><br><br>

<div data-ng-app="" data-ng-init="quantity8=0;price4=100; quantity9=0">
Tire Repair:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" ng-model="quantity8" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity8 * price4}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity9">
<b>Total:{{quantity8 * price4 * quantity9}}</b><br><br>


<p><b>Products</b></p>
<div data-ng-app="" data-ng-init="quantity10=0;price5=100; quantity11=0">
Interior Tire:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" ng-model="quantity10" placeholder="Types of Vehicle">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Price:{{quantity10 * price5}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="quantity11">
<b>Total:{{quantity10 * price5 * quantity11}}</b><br><br>



<p><b>Total Price:{{quantity * price * quantity4 + quantity1 * price1 * quantity2 + quantity3 * price2 * quantity5 + quantity6 * price3 * quantity7 + quantity8 * price4 * quantity9 + quantity10 * price5 * quantity11  }}</b></p>
<input type="Submit" id=done value="Confirm"> 
</center>
</div>


</body>
</html>