<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WALK-IN</title>
</head>
<body>
<center>
<h1 style="color:#805500; font-family: courier; font-size: 50px;">We Vulcanize Your Tire!</h1></h1>



<form class="form" action="Call" method="POST">
  {% csrf_token %}

  <p id="ss">Good day our precious Client:</p><br>
  <p id="u">Client Name:  <input type="text" id="firstname" name="firstname" placeholder="" required></p> 
  <p id="a">DATE: <input type = "date" id="birthday" name="birthday"required></p><br>
 
 <div id="Vehicle">
  <p id="qt">Type of Vehicle:</p>
   <input type ="radio" id="tr" name="pili" value="6 wheels Up"required>6 Wheels Up
   <input type ="radio" id="ca" name="pili" value="4 wheels"required>4 Wheels
   <input type ="radio" id="ja" name="pili" value="3 wheels" required >3 Wheels
   <input type ="radio" id="mo" name="pili" value="2 wheels"required>2 Wheels
  </div><br><br>

  <input type="Submit" id=done value="Proceed"> 

</form> 
</center>	
</body>
</html>









