{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>iTutor.Phil</title>
<style>
	*{ margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:sans-serif;
  
}
h1{
	font-family: Pangolin;
	font-size: 30px;
}
nav{
	background: rgb(95, 122, 84);
	position:fixed;
	width: 100%;
	z-index: 999;
	height: 65px;
	line-height: 65px;


}
nav p{
	max-width: 1250px;
	padding: 0 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #f2f2f2;
	font-size: 35px;
	font-family: Lobster;
}

.hidden
        {
            display:none;
            
        }
        .shown
        {
            display:block;

        }

</style>
<style >
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
</style>
</head>

<script type="text/javascript">
      function showDiv (divId)
        {
          var div = document.getElementById (divId);
          var divs = document.getElementsByTagName('div');
          for (var i in divs) 
          {
            divs [i].className = "hidden";
          }
          div.className = "shown";
        }
    </script>
   <script>
            function calculateAmount(val) {
                var tot_price = val * 90;
                /*display the result*/
                var divobj = document.getElementById('TransportationAmount');
                divobj.value = tot_price;
            }
            
        </script>

<body style="background: url('{% static 'Image/14.jpg' %}') no-repeat fixed; background-size: cover;">
	<nav>	
		<p> iTutor.Phil</p>			
	</nav>

<form class="form" action="paymentmethod" method="POST">
  	{% csrf_token %}
	<center><br><br><br><br>
  	<h1>With us, dive deeper into the ocean of knowledge</h1><br>

  	<p id="start">Date to start:  <input type="Date" id="Date" name="Date"required> </p><br>
  	<p id= "SUBJECT"> Subject: <input type="text" id="Subject1" name="Subject1"></p><br>
 	<p id= "course"> Course Type or Grade level: <input type="text" id="Subject1" name="Subject1"></p><br>
  	<p id="day"> Enter your Schedule day:  <input type="text" id="Schedule" name="Schedule" placeholder="Ex.M-T-W or Monday" required> </p><br>
 	<p id="oras"> Enter your Preffered Time:  <input type="Time" id="Time" name="Time" > </p><br>
	<p>Description:</p> <textarea id="Message" name="Message" placeholder=""rows="4" cols="50"> </textarea><br><br>
 	
 
	<p id="sltss">
  	 <select id="select" name="select">
     <option value="" disabled selected>Choose your Teaching Environment</option>
     <option value="1" id="selecthome" name="Home Visiting" onclick="showDiv ('1')" >Home Visiting</option>
     <option value="2" id="selectonline" name="Online" onclick="showDiv ('2')">Online</option>
     <option value="3" id="selecthouse" name="Teacher House" onclick="showDiv ('3')">Teacher House</option>
     
     </select>
    <div id="1" class="hidden">

    <input type="hidden" name="mode" value="PinRequest" id="place"/>
   	<b>Transportation Amount</b>

     <select name="tot_pin_requested" onchange="calculateAmount(this.value)" id="tot_pin_requested">
     <option value="" disabled selected>Choose your Location</option>
     <option value="1" id="Mindanao" name="Mindanao">Mindanao</option>
     <option value="2" id="Visayas" name="Visayas">Visayas</option>
     <option value="3" id="Luzon" name="Luzon">Luzon</option>
     <option value="4" id="Metro Manila" name="Metro Manila">Metro Manila</option>
     </select>

   	<b>Price:</b>
    <input class="w3-input w3-border" name="TransportationAmount" id="TransportationAmount" type="text"></div>


    <div id="2" class="hidden"></div>
    <div id="3" class="hidden"></div><br><br>
	</p>

	<input type="submit" id="pat" name="pat" value="Proceed"/>



 <!-- 	<div id="Environment">
 	<p id="Teach">Preffer Teaching Environment:</p>
  	<input type ="radio" id="Home" name="pili" value="Home Visiting"required> Home Visiting
    <input type ="radio" id="ol" name="pili" value="Online"required> Online
    <input type ="radio" id=tutor name="pili" value="Tutor House" required> Tutor House<br><br> -->

    
 <!--  	<p><b>Teaching Price</b></p><br>
  	How many hours: <input type="number" value="" name="QTY" id="QTY" min="1" max="5" onKeyUp="multiply()" placeholder="5 hours is the Maximum" />
  	<input type="hidden" name="PPRICE" id="PPRICE" value="150" />
  	Price: <input type="text" name="TOTAL" id="TOTAL" /><br><br>
   
  	How many days: <input type="text" value="" name="QTY1" id="QTY1" onKeyUp="multiply()"/>
	Total: <input type="text" name="TOTAL2" id="TOTAL2" /><br><br> -->

  
  	</center>
  	
 </form> 
	
		


</body>
</html>





<!-- <!DOCTYPE html>
<html>
<body>
  <tr>
  <td>How many hours:</td>
  <td><input type="text" value="" name="QTY" id="QTY" onKeyUp="multiply()"/></td>
  <td><input type="hidden" name="PPRICE" id="PPRICE" value="150" /></td>
  <td><input type="text" name="TOTAL" id="TOTAL" /></td>
   <td>How many days:</td>
  <td><input type="text" value="" name="QTY1" id="QTY1" onKeyUp="multiply()"/></td>
	<td><input type="text" name="TOTAL2" id="TOTAL2" /></td>
	
</tr>
	<script>
	  function multiply()
{
    a = Number(document.getElementById('QTY').value);
    b = Number(document.getElementById('PPRICE').value);
    c = a * b;
    document.getElementById('TOTAL').value = c;
    d = Number(document.getElementById('QTY1').value); 
    e = d * c;
    document.getElementById('TOTAL2').value = e;
}

  </script>  
		
		
	
</html> -->


<!-- 
<html>
  <head>
    <script type="text/javascript">
        function showDiv (divId)
        {
          var div = document.getElementById (divId);
          var divs = document.getElementsByTagName('div');
          for (var i in divs) 
          {
            divs [i].className = "hidden";
          }
          div.className = "shown";
        }
    </script>
    <style>
        .hidden
        {
            display:none;
        }
        .shown
        {
            display:block;
        }
    </style>
  </head>
  <body>
        <input type="radio" onclick="showDiv ('1')" name="selectme">Home Visiting</input>
        <input type="radio" onclick="showDiv ('2')" name="selectme">Online</input>
        <input type="radio" onclick="showDiv ('3')" name="selectme">Tutor House</input>
     

        <div id="1" class="hidden">Note* This are expected that there's an aditional payment</div>
        <div id="2" class="hidden"></div>
        <div id="3" class="hidden"></div>
      

  </body>
</html> -->





<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
 
<button>Proceed</button>

<p style="display: none"> <input type="password" id="pwd" name="pwd"><br><br>
<input type="password" id="pwd" name="pwd"><br><br>

</p>
 
<script>
$( "button" ).click(function() {
  $( "p" ).toggle();
});
</script>
 
</body>
</html>
 -->
