<html>
 <head>
  <title>FIRST</title>
 </head>
<body style="background-color:  #fff7e6">
  <center>
  <h1 style="color:#805500; font-family: sans-serif; font-size: 50px; background-color:  #f2ffcc">We Vulcanize Your Tire!</h1>
 
<form class="form" action="Call" method="POST">
  {% csrf_token %}
 
  <div id="SELECT"><br><br>
  <p id="CHU">For Client:</p>
  <input type ="Submit" id="sched" name="CHSE" value="Appointment" >
  <input type ="Submit" id="home" name="CHOSE" value="Home Services" >
  </div><br>

  <div id="Pili">
  <p id="CHU">For Owner:</p>
  <input type ="Submit" id="Walk" name="COOSE" value="Walk-in" >
  <input type ="Submit" id="Invent" name="CHOO" value="Inventory" >
  </div><br><br>

 
</form> 
</center>
</body>
</html>
