<!DOCTYPE html>
<html>
 <head>
 	<title>Baybayin Project</title>
 </head>
<body>
	<h1>Welcome to Baybayin Project</h1>
	<h2>Question Section</h2>

<form action="form">
  <p>USERNAME:</p>
  <input type="text" id="firstname" name="firstname"><br><br>

  <p id=we>LECTURE:</p>
  <input type="number" id="quantity" name="quantity" min="1" max="2"> <br><br>

  <p id=wew>QUESTION:</p>
  <input type="text" id="baybayin" name="baybayin"><br><br>

  <input type="Submit" id=ediw value="Submit"> 
</form> 

</body>
</html>
